.DS_Store
.idea
*.log
tmp/

# devshell
.devenv
.direnv
.envrc.local

# hashicorp/terraform
.terraform*
config.tf.json
*.plan
*.tfstate
*.tfstate.backup
*.tfvars

# Terragrunt
.terragrunt-cache

# Kubernetes
*kubeconfig*

# others
*.pem
*.key

# platform portal

./platform-portal/.env
./platform-portal/.env.local
./platform-portal/node_modules